.header {
	padding: 0;
	margin: 0;
	height: 150px;

	background: #474e5d url('../img/home/header_bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	display: flex;
	justify-content: center;
	align-items: center;

}

.header img {
	width: 90%;
}

#projects h3 {
	font-size: 2em;
	margin-bottom: 0px;
}

.project-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-wrapper p {
	position: absolute;
	color: #fff;
	background-color: #000;
	padding: 0px 20px;
	font-size: 1.8em;
}

.bg-0 { 
	background-color: #ffffff; /* Green */
	color: #2f2f2f;
}

.bg-2 { 
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}
.bg-3 { 
	background-color: #ffffff; /* White */
	color: #555555;
}
.bg-4 { 
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}

#projects .row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.projects-wrapper {
	display: flex;
  flex-flow: row wrap;

  margin-top: 10px;
}

.project-wrapper {
	height: 200px;
	margin: 0 auto 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.project-1 {
	background: url('../img/home/project_1_bg.jpg');
	background-size: cover;	
}

.project-2 {
	background: url('../img/home/project_2_bg.jpg');
	background-size: cover;	
}

.project-3 {
	background: url('../img/home/project_3_bg.jpg');
	background-size: cover;	
}

.project-4 {
	background: url('../img/home/project_4_bg.jpg');
	background-size: cover;	
}

.no-padding {
	padding: 0px;
}

.detailed-projects-wrapper {
	display: none;
}

@media (min-width: 768px) { 
	.header {
		height: 350px;
	}

	h3 {
		font-size: 1.8em;
	}

	#competencies a {
		display: none;
	}

	.learn-more-btn {
		width: 143px;	
    line-height: 3.8;
    height: 72px;
    font-size: 0.7em;
	}

	.tablet-right {
		float: right;
	}

	.projects-wrapper {
		display: none !important;
	}

	.detailed-projects-wrapper {
		display: flex;
		flex-flow: row wrap;
	}

	.detailed-project-wrapper {
		height: 250px;
    margin-bottom: 20px;
	}

	.detailed-project-wrapper .image-holder {
		margin-top: 10px;
		height: 250px;
	}

	.detailed-project-wrapper .details h3 {
		margin-top: 0;
	}

	.detailed-project-wrapper .details p {
		margin-top: 10px;
	}
}