.header {
	padding: 0;
	margin: 0;
	height: 100px;

	background: #474e5d; /*url('../img/home/header_bg.jpg');*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	display: flex;
    justify-content: center;
    align-items: center;

}

.header img {
	width: 90%;
}

#projects h3 {
	font-size: 2em;
	margin-bottom: 0px;
}

.project-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
}

.project-wrapper p {
    position: absolute;
	color: #fff;
    background-color: #000;
    padding: 0px 20px;
    font-size: 2em;
}

.bg-0 { 
	background-color: #ffffff; /* Green */
	color: #2f2f2f;
}


.bg-2 { 
	background-color: #474e5d; /* Dark Blue */
	color: #ffffff;
}
.bg-3 { 
	background-color: #ffffff; /* White */
	color: #555555;
}
.bg-4 { 
	background-color: #2f2f2f; /* Black Gray */
	color: #fff;
}

.project-wrapper {
	width: 90%;
	height: 200px;
	margin: 0 auto 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.project-1 {
	background: url('../img/home/project_1_bg.jpg');
	background-size: cover;	
}

.project-2 {
	background: url('../img/home/project_2_bg.jpg');
	background-size: cover;	
}

.project-3 {
	background: url('../img/home/project_3_bg.jpg');
	background-size: cover;	
}

.project-4 {
	background: url('../img/home/project_4_bg.jpg');
	background-size: cover;	
}