.header {
	padding: 0;
	margin: 0;
	height: 150px;

	background: #474e5d url('../img/projects/header_bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	display: flex;
	justify-content: center;
	align-items: center;

}

#projects-list-wrapper {
	background: #fff;
	color: #2f2f2f;
	padding-top: 0;
	margin: 0px;
}

.project-wrapper {
	margin: 0px 0 10px 0;
	padding: 0;
	font-size: 0.6em;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.project-wrapper h2 {
	margin: 10px 0;
}

.project-wrapper h3 {
	font-size: 1em;
	margin: 10px 0;
}

.project-wrapper p {
	margin: 10px 0 0 0;
}

.project-wrapper img {
	width: 90%;
	margin: 0 auto;
  padding: 0;
}

.project-wrapper:nth-child(odd)		{ background-color:#fff; }
.project-wrapper:nth-child(even)		{ background-color:#f8f8f8; }

@media (min-width: 768px) { 
	.header {
		height: 350px;
	}
	.project-wrapper img {
		width: 50%;
	}

	.learn-more-wrapper {
		margin: 10px 0 10px 0;
	}

	.learn-more {
		float: right;
	}

}

@media (min-width: 992px) {
	#projects-list-wrapper {
		float: none;
		margin: 0 auto;
	}
}