.header {
 	padding: 0;
	margin: 0;
	height: 150px;

	background: #474e5d url('../img/projects/project-1.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	display: flex;
	justify-content: center;
	align-items: center;
}

.project-2 {
	background: #474e5d url('../img/projects/project-2.jpg') !important;
}

.project-3 {
	background: #474e5d url('../img/projects/project-3.jpg') !important;
}

.project-4 {
	background: #474e5d url('../img/projects/project-4.jpg') !important;
}

#project-wrapper {
	background: #fff;
	color: #2f2f2f;

	padding-top: 0px;
}

#project-wrapper h1 {
	font-size: 1.4em;
}

#project-wrapper h2 {
	font-size: 1.3em;
}

#project-wrapper h3 {
	font-size: 1.2em;
}

#project-wrapper h4 {
	font-size: 1.1em;
}

#project-wrapper .small-list {
	font-size: 0.8em;
	font-style: italic;
}

@media (min-width: 768px) {
	.header {
		height: 350px;
	}
}


@media (min-width: 992px) {
	#project-wrapper,
	#project-wrapper .row {
		float: none;
		margin: 0 auto;		
	}


}