.header {
 	padding: 0;
	margin: 0;
	height: 150px;

	background: #474e5d url('../img/services/header_bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	

	display: flex;
	justify-content: center;
	align-items: center;
}

#competency-list-wrapper {
	background: #fff;
	color: #2f2f2f;
	padding-top: 0;
}

.competency-wrapper {
	margin: 10px 0 10px 0;
	padding: 0;
	font-size: 0.6em;

	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.competency-wrapper h3 {
	margin-bottom: 0;
}

.competency-wrapper .headline {
	height: 80px;
}
.competency-wrapper .sub-headline {
	font-size: 0.9em;
}

.competency-wrapper .image {
	padding: 0;
}

.competency-wrapper .image img {
	width: 100%;
	height: auto;
}

.competency-wrapper .description {
	margin: 10px 0 10px 0;
}

.competency-wrapper:nth-child(odd)		{ background-color:#fff; }
.competency-wrapper:nth-child(even)		{ background-color:#f8f8f8; }

@media (min-width: 768px) { 
	.header {
		height: 350px;
	}

	.competency-wrapper {
		display: block;
    height: 200px;
	}

	.competency-wrapper .image {
		float: right;
		margin-right: 15px;
	}

	.competency-wrapper .image img {
	    width: auto;
	    height: 200px;    
	    float: right;
	}
}


@media (min-width: 992px) {
	.competency-wrapper {
		float: none;
		margin: 10px auto;
	}
}